@mixin flexout($media: null){
	@if $media{
		$media: "-#{$media}";
	}

	[flow#{$media}] {
		display: flex;
	}

	// flex flow
	[flow#{$media}^="row"] {
		flex-direction: row;
	}

	[flow#{$media}^="column"] {
		flex-direction: column;
	}

	[flow#{$media}$="wrap"] {
		flex-wrap: wrap;
	}

	[flow#{$media}$="nowrap"] {
		flex-wrap: nowrap;
	}
	
	// align & justify content
	[align#{$media}="start start"],
	[align#{$media}="start center"],
	[align#{$media}="start end"],
	[align#{$media}="start beetwen"],
	[align#{$media}="start around"] {
		align-content: flex-start;
	}

	[align#{$media}="center start"],
	[align#{$media}="center center"],
	[align#{$media}="center end"],
	[align#{$media}="center beetwen"],
	[align#{$media}="center around"] {
		align-content: center;
	}

	[align#{$media}="end start"],
	[align#{$media}="end center"],
	[align#{$media}="end end"],
	[align#{$media}="end beetwen"],
	[align#{$media}="end around"] {
		align-content: flex-end;
	}

	[align#{$media}="stretch start"],
	[align#{$media}="stretch center"],
	[align#{$media}="stretch end"],
	[align#{$media}="stretch beetwen"],
	[align#{$media}="stretch around"] {
		align-content: stretch;
	}

	[align#{$media}="around start"],
	[align#{$media}="around center"],
	[align#{$media}="around end"],
	[align#{$media}="around beetwen"],
	[align#{$media}="around around"] {
		align-content: space-around;
	}

	[align#{$media}="between start"],
	[align#{$media}="between center"],
	[align#{$media}="between end"],
	[align#{$media}="between beetwen"],
	[align#{$media}="between around"] {
		align-content: space-between;
	}

	[align#{$media}="start start"],
	[align#{$media}="center start"],
	[align#{$media}="end start"],
	[align#{$media}="around start"],
	[align#{$media}="between start"] {
		justify-content: flex-start;
	}

	[align#{$media}="start center"],
	[align#{$media}="center center"],
	[align#{$media}="end center"],
	[align#{$media}="around center"],
	[align#{$media}="between center"] {
		justify-content: center;
	}

	[align#{$media}="start end"],
	[align#{$media}="center end"],
	[align#{$media}="end end"],
	[align#{$media}="around end"],
	[align#{$media}="between end"] {
		justify-content: flex-end;
	}

	[align#{$media}="start around"],
	[align#{$media}="center around"],
	[align#{$media}="end around"],
	[align#{$media}="around around"],
	[align#{$media}="between around"] {
		justify-content: space-around;
	}

	[align#{$media}="start between"],
	[align#{$media}="center between"],
	[align#{$media}="end between"],
	[align#{$media}="around between"],
	[align#{$media}="between between"] {
		justify-content: space-between;
	}

	// align items
	[align-items#{$media}="baseline"] {
		align-items: baseline;
	}

	[align-items#{$media}="start"] {
		align-items: flex-start;
	}

	[align-items#{$media}="center"] {
		align-items: center;
	}

	[align-items#{$media}="end"] {
		align-items: flex-end;
	}

	[align-items#{$media}="stretch"] {
		align-items: stretch;
	}

	// align self
	[align-self#{$media}="baseline"] {
		align-self: baseline;
	}

	[align-self#{$media}="start"] {
		align-self: flex-start;
	}

	[align-self#{$media}="center"] {
		align-self: center;
	}

	[align-self#{$media}="end"] {
		align-self: flex-end;
	}

	[align-self#{$media}="stretch"] {
		align-self: stretch;
	}
}

// flex
// [flex] {
// 	border: 1px solid red;
// 	flex: 1;
// }

// [flex="0"]{
// 	flex: 0 0 auto;
// }

// [flex="1"]{
// 	flex: 1 1 100%;
// }

// [flex="1-2"] {
// 	flex: 1 1 (100% / 2)
// }

// [flex="1-3"] {
// 	flex: 1 1 (100% / 3)
// }

// [flow^="row"] {
// 	>[flex]{
// 		max-height: 100%;
// 	}
	
// 	>[flex="1-3"] {
// 		max-width: (100% / 3);
// 	}
// }

// [flow^="column"] {
// 	>[flex]{
// 		max-width: 100%;
// 	}

// 	>[flex="1-4"] {
// 		max-height: (100% / 4);
// 	}
// }

@include flexout;
@media (min-width: 600px){
	@include flexout("sm");
}
